
#shapeCanvas {
    border: black solid 1px;
    height: 600px;
    width: 600px;
    background-color: rgb(233,236,239);
    overflow: auto;
}

.rectangle {
    border: black solid 1px;
    background-color: green;
    opacity: .5;
}

.square {
    border: black solid 1px;
    background-color: red;
    opacity: .5;
}

.circle {
    border: black solid 1px;
    border-radius: 1000px;
    background-color: purple;
    opacity: .5;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-color: transparent;
    border-bottom-color: yellow;
    opacity: .5;
}

.rectangle:hover,
.square:hover,
.circle:hover,
.triangle:hover {
    opacity: 1;
    cursor: pointer;
}

.input-group-text {
    width: 100px;
}

.inputBtn {
    width: 150px;
}