
#shapeCanvas {
    border: black solid 1px;
    height: 600px;
    width: 600px;
    background-color: rgb(233,236,239);
}


.rectangle, 
.square {
    border: black solid 1px;
}

.circle {
    border: black solid 1px;
    border-radius: 1000px;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom-style: solid;
    border-bottom-right-radius: 0.125rem;
    border-right-style: solid;
    border-right-color: transparent;
    border-top-left-radius: 0.125rem;
}